#h4_1 {
    background-color: yellow;
}

#h4_2 {
    background-color: yellow;
}

#h4_3 {
    background-color: yellow;
}

#h4_4 {
    background-color: yellow;
}

#body_1 {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbOzpts7fn0v8vPNXKi4BDWFY9oDyvFnRLeUrJVqy6dpZvwiyS1ZoZTS7Kpok1peA8NdQ&usqp=CAU");
}

#h3_1 {
    background-color: white;
}

#h3_2 {
    background-color: white;
}

#h3_3 {
    background-color: white;
}

#h3_4 {
    background-color: white;
}

#h1_1 {
    background-color: white;
}